HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
backend/prepa/target/
backend/prepa/.idea
backend/prepa/src/main/java/com/opham/prepa/report/
backend/prepa/.idea/workspace.xml
**/.DS_Store
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
backend/prepa/.idea/workspace.xml
### VS Code ###
.vscode/
.DS_Store
backend/.DS_Store
backend/prepa/.DS_Store
backend/prepa/.idea/workspace.xml
backend/prepa/src/.DS_Store
backend/prepa/src/main/.DS_Store
backend/prepa/src/main/java/.DS_Store
backend/prepa/src/main/java/com/.DS_Store
backend/prepa/src/main/java/com/opham/.DS_Store
backend/prepa/src/main/java/com/opham/prepa/.DS_Store

backend/prepa/.idea/workspace.xml
.idea/workspace.xml
backend/prepa/.idea/workspace.xml
